/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 20px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
}
.jumbotron .display-4 span {
    font-weight: 500;
}

/* Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}
.info-panel p {
    font-size: 14px;
    color: #acacac;
    font-weight: 200;
}
/* content */
.konten {
    margin-top: 120px;
}
.konten img {
    width: 400px;
    height: 250px;
    margin-top: 20px;
}
.konten h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
}
.konten p {
    font-size: 18px;
    font-weight: 200;
}

.konten h6 {
    font-size: 18px;
    font-weight: normal;
}
/* footer */
.footer {
    margin-top: 100px;
}
.footer p {
    color: #acacac;
    font-size: 18px;
}

/* .content { 
  margin-top: 100px;
}
.content img {
  width: 500px;
  height: 300px;
  background-size: cover;
}
.content .col-lg {
  margin-top: 50px;
}
*/

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid rgb(36, 36, 177);
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        height: 640px;
        background-repeat: no-repeat;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
}

/* Wide Desktop */

@media (min-width: 1200px) {
    .jumbotron {
        height: 900px;
        background-repeat: no-repeat;
    }
    .jumbotron .display-4 {
        margin-top: 250px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 60px;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .jumbotron {
        height: 680x;
        background-repeat: no-repeat;
    }
}
